<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<form class="form form-shipping-address" id="co-shipping-form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
    <!-- ko foreach: getRegion('before-fields') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->

    <div id="shipping-new-address-form" class="fieldset address">
        <!-- ko foreach: getRegion('additional-fieldsets') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!-- ko if: (isCustomerLoggedIn) -->
        <div id="twzipcode" class="required">
            <div class="city-wrap field _required">
                <label class="label" data-bind="i18n: '城市'"></label>
                <div class="wrap-select">
                    <div data-role="county"
                         data-name="citynew"
                         data-style="樣式名稱"
                         data-required="true">
                    </div>
                </div>
                <div class="mage-error-shipping-city"><!-- ko text: $t('這是必填欄位。') --><!-- /ko --></div>
            </div>
            <div class="area-wrap field _required">
                <label class="label" data-bind="i18n: '地區'"></label>
                <div class="wrap-select">
                    <div data-role="district"
                         data-name="regionnew"
                         data-style="district-style"
                         data-required="true">
                    </div>
                </div>
                <div class="mage-error-shipping-region"><!-- ko text: $t('這是必填欄位。') --><!-- /ko --></div>
            </div>
            <div class="postcode-wrap field _required">
                <label class="label" data-bind="i18n: '郵遞區號'"></label>
                <div data-role="zipcode"
                     data-name="postcodenew"
                     data-style="zipcode-style"
                     data-required="true">
                </div>
                <div class="mage-error-shipping-postcode"><!-- ko text: $t('這是必填欄位。') --><!-- /ko --></div>
            </div>
        </div>
        <div class="field choice" data-bind="visible: !isFormInline">
            <input type="checkbox" class="checkbox" id="shipping-save-in-address-book" data-bind="checked: saveInAddressBook" />
            <label class="label" for="shipping-save-in-address-book">
                <span data-bind="i18n: 'Save in address book'"></span>
            </label>
        </div>
        <!-- /ko -->
    </div>
</form>
