/*------- Form content --------*/
.menu__management #menu_tabs_items_section_content {padding: 0;}
.menu__management #menu_tabs_items_section_content .entry-edit.form-inline {display: inline-block; width: 100%; position: relative;}
.menu__management #menu_tabs_items_section_content #menu_base_fieldset {float: right; width: 65%; padding-top: 65px; position: static;}
.menu__management #menu_tabs_items_section_content .menu__tree {float: left; width: 35%; padding-top: 65px;}
.menu__management #menu_tabs_items_section_content .menu__tree .menu__tree__content {padding-right: 25px; padding-left: 5px;}
/*------- Tree menu --------*/
.menu__management .jqtree-tree .jqtree-folder {margin-bottom: 0;}
.menu__management .jqtree-tree .jqtree-selected > .jqtree-element {font-weight: 600;}
.menu__management .jqtree-tree .jqtree-element {font-weight: 600; background: #f1f1f1; margin-bottom: 5px; padding: 3px 0 4px 10px; -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -ms-transition: all .15s ease-in-out; -o-transition: all .15s ease-in-out; transition: all .15s ease-in-out;}
.menu__management .jqtree-tree .jqtree-selected > .jqtree-element, .menu__management .jqtree-tree .jqtree-selected > .jqtree-element:hover {background: #e4e4e4;}
.menu__management .jqtree-tree .jqtree-folder .jqtree-toggler {text-decoration: none; color: #fff; width: 16px; height: 18px; top: 3px;}
.menu__management .jqtree-tree .jqtree-folder .jqtree-toggler:before {content: ""; background: url("../images/elbow-end-minus.gif"); position: absolute; width: 16px; height: 18px; z-index: 1;}
.menu__management .jqtree-tree .jqtree-folder .jqtree-toggler.jqtree-closed:before {content: ""; background: url("../images/../images/elbow-plus.gif");}
.menu__management .jqtree-tree .jqtree-title.jqtree_common {position: relative;}
.menu__management .jqtree-tree .jqtree-title.jqtree_common:before {content: ""; background: url("../images/elbow.gif"); position: absolute; width: 16px; height: 18px; left: -28px; z-index: 0;}
.menu__management .jqtree-tree .jqtree-title.jqtree_common:after {content: ""; border-left: 1px dotted #c3c3c3; position: absolute; left: -20px; z-index: 0; height: 26px; top: -3px;}
.menu__tree__content .jqtree-element.jqtree_common {}
.menu__tree__content .add_new {right: 0; top: 0; position: absolute; padding: 5px 0 4px; background: #f1f1f1; border: none; border-radius: inherit;}
.menu__tree__content .jqtree-selected .add_new {background: #e4e4e4;}
.menu__tree__content .add_new:hover, .menu__tree__content .add_new:focus {text-decoration: underline;}
.menu__tree__content li.jqtree_common {position: relative;}
/*------- Form edit in tree menu --------*/
.menu__management #menu_tabs_items_section_content .dropdown-menu {right: inherit; background: #f1f1f1; border: 1px solid #e3e3e3;}
.menu__management #menu_tabs_items_section_content .dropdown-menu li {padding-top: 0; padding-bottom: 0; border: none; line-height: 2; font-weight: 500;}
.menu__management #menu_tabs_items_section_content .dropdown-menu li:hover {background: #f5f5f5;}
.menu__management #menu_tabs_items_section_content .dropdown-menu li a {color: #303030; display: block; padding: 5px;}
.menu__management #menu_tabs_items_section_content .dropdown-menu li a:hover {color: #303030; text-decoration: none;}
/*------- Edit and Add form --------*/
.menu__management #menu_tabs_items_section_content .form-inline .admin__legend.legend {position: absolute; left: 0; top: 0;}
.menu__management #menu_tabs_items_section_content .form-inline .admin__legend.legend > span {font-size: 1.4rem; padding: 5px 10px;}
.menu__management #menu_tabs_items_section_content .form-inline .label.admin__field-label {width: 30%; text-align: left;}