<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <ShippingStorePickUp>
                <enable>1</enable>
                <sallowspecific>0</sallowspecific>
                <model>Astralweb\ShippingStorePickUp\Model\Carrier\Shipping</model>
                <name><!-- 這欄位會在前台顯示 --></name>
                <price>0.00</price>
                <title>title</title>
                <type>I</type>
                <specific_error_msg>This shipping method is not available. To use this shipping method, please contact us.</specific_error_msg>
            </ShippingStorePickUp>
        </carriers>
    </default>
</config>