<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="Astralweb_ShippingStorePickUp_Data_Source" xsi:type="string">Astralweb\ShippingStorePickUp\Model\ResourceModel\shop\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Astralweb\ShippingStorePickUp\Model\ResourceModel\shop\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">astralweb_shippingstorepickup_shop</argument>
            <argument name="resourceModel" xsi:type="string">Astralweb\ShippingStorePickUp\Model\ResourceModel\shop</argument>
        </arguments>
    </virtualType>
    <preference for="Astralweb\ShippingStorePickUp\Api\UpdateOrderCarryInterface" type="Astralweb\ShippingStorePickUp\Model\UpdateOrderCarry"/>
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="shop_id" xsi:type="string">sales_order.shop_id</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="astralweb_shippingstorepickup_command_last3daynotice" xsi:type="object">Astralweb\ShippingStorePickUp\Command\last3dayNotice</item>
            </argument>
        </arguments>
    </type>

    <preference for="Magento\Sales\Block\Order\Info" type="Astralweb\ShippingStorePickUp\Block\Order\Info" />

</config>
