<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Astralweb_ShippingStorePickUp::shipping_StorePickUp_menu"
            title="所有門市" 
            translate="title" 
            module="Astralweb_ShippingStorePickUp" 
            sortOrder="50" 
            parent="Magento_Backend::stores_settings" 
            action="shippingStorePickUp" 
            resource="Magento_Config::config"/>
    </menu>
</config>
