<li id="invoice-type" class="checkout-shipping-address">
    <div class="step-title" data-bind="i18n: '發票資訊'"></div>
    <div class="invoice-type step-content">
        <div id="err" style="display: none; margin-bottom: 20px;" class="message info empty invoice-error-mess">
            <div>
            </div>
        </div>

        <div class="option">
            <div class="input-group">
                <input type="radio" name="invoice" id="two-way" data-bind="value:'two', checked : 'two' , event: { change: changeInput}">
                <label class="label" for="two-way"><span data-bind="i18n: '電子發票'"></span></label>
                <span>統一編號</span><input type="text" name="purchaser-name" data-bind="value: newPurChaserName">
                <div id="err2" style="display: none;" class="message i統一編號nfo empty invoice-company-error-mess"><span data-bind="i18n:'Enter This Field'"></span></div>

            </div>
            <div class="input-group">
                <input type="radio" name="invoice" id="three-way" data-bind="value:'three', event: { change: changeInput}">
                <label class="label" for="three-way"><span data-bind="i18n: '捐贈發票'"></span></label>
                <span>捐贈單位</span>
                <div class="wrap-select">
                    <select name="invoice-select">
                        <option value="0" name="0"></option>
                        <option value="5238" name="現代婦女基金會">現代婦女基金會</option>
                        <option value="885521" name="兒童福利聯盟文教基金會">兒童福利聯盟文教基金會</option>
                        <option value="7777" name="乳癌防治基金會">乳癌防治基金會</option>
                    </select>
                </div>
                <div id="err1" style="display: none;" class="message info empty invoice-regist-error-mess"><span data-bind="i18n:'Enter This Field'"></span></div>

            </div>
        </div>
       <!--  <div class="option group">
            <div id="registration" class="tax-id-block block" id="tax-id-block" data-bind="visible: showTaxIdBlockObserver ">

                <div class="block" >
                    <div class="regis">
                        <span class="label" data-bind="i18n: '公司名稱'"></span>
                        <input type="text" name="purchaser-name" data-bind="value: newPurChaserName">
                        <div id="err2" style="display: none;" class="message i統一編號nfo empty invoice-company-error-mess"><span data-bind="i18n:'Enter This Field'"></span></div>
                    </div>
                    <div class="regis">
                        <span class="label" data-bind="i18n: '統一編號'"></span>
                        <input type="text" name="tax-id" data-bind="value: newTaxId">
                        <div id="err1" style="display: none;" class="message info empty invoice-regist-error-mess"><span data-bind="i18n:'Enter This Field'"></span></div>
                    </div>

                </div>
            </div>
        </div> -->
    </div>
</li>