/* ------- Header ------- */

.mn_navigation {
    background: #f5f5f5;
}

.mn_navigation .navigation {
    margin-bottom: 0;
    background: transparent;
}

.mn_navigation .mega-content {
    display: none;
    position: absolute;
    width: 180px;
    background: #f5f5f5;
    box-shadow: 0 1px 10px #ccc;
    z-index: 11;
}

.mn_navigation li {
    position: relative;
    margin: 0;
    z-index: 10;
}

.mn_navigation .subnavi {
    padding: 0;
}

.mn_navigation li.level0 {
    display: inline-block;
}

.mn_navigation a.level0 {
    display: inline-block;
    color: #575757;
}

.mn_navigation a.level0:hover {
    color: #333;
}

.mn_navigation a.item-link {
    text-decoration: none;
    padding: 10px 15px;
}

/* ----------- style config ------------ */
.mn_navigation a.item-link.regular {
    font-weight: 400;
}

.mn_navigation a.item-link.bold {
    font-weight: 700;
}

.mn_navigation a.item-link.underline {
    text-decoration: underline;
}

.mn_navigation a.item-link.boldunderline {
    text-decoration: underline;
    font-weight: 700;
}

.mn_navigation .mega-content-inner a.item-link {
    display: block;
    color: #575757;
}

.mn_navigation .mega-content-inner a.item-link {
    display: block;
    color: #333;
}

.mn_navigation .mega-content-inner a.item-link:hover {
    background: #f9f9f9;
}

.mn_navigation li.level0:hover > .mega-content, .mn_navigation li.level1:hover > .mega-content,
.mn_navigation li.level2:hover > .mega-content, .mn_navigation li.level3:hover > .mega-content,
.mn_navigation li.level4:hover > .mega-content, .mn_navigation li.level5:hover > .mega-content,
.mn_navigation li.level6:hover > .mega-content, .mn_navigation li.level7:hover > .mega-content,
.mn_navigation li.level8:hover > .mega-content, .mn_navigation li.level9:hover > .mega-content,
.mn_navigation li.level10:hover > .mega-content, .mn_navigation li.level11:hover > .mega-content,
.mn_navigation li.level12:hover > .mega-content {
    display: block;
}

.mn_navigation li.level1:hover > .mega-content, .mn_navigation li.level3:hover > .mega-content,
.mn_navigation li.level5:hover > .mega-content, .mn_navigation li.level7:hover > .mega-content,
.mn_navigation li.level9:hover > .mega-content, .mn_navigation li.level11:hover > .mega-content {
    left: 180px;
    top: 0;
}

.mn_navigation li.level2:hover > .mega-content, .mn_navigation li.level4:hover > .mega-content,
.mn_navigation li.level6:hover > .mega-content, .mn_navigation li.level8:hover > .mega-content,
.mn_navigation li.level10:hover > .mega-content, .mn_navigation li.level12:hover > .mega-content {
    left: 180px;
    top: 0;
}
/* ------- Footer ------- */

.page-footer .mn_navigation .mega-content-inner ul.subnavi {
    padding-right: 0;
}

.page-footer .mn_navigation a.level0 {
    color: #575757;
}

.page-footer .mn_navigation a.level0:hover {
    color: #333;
}