<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="title-billing-form">
    <span><!-- ko text: $t('訂購人資訊') --><!-- /ko --></span>
    <div class="close-popup">
        <button class="action-close close-billing-popup" data-role="closeBtn" type="button">
            <span>Close</span>
        </button>
    </div>
</div>
<div class="billing-address-form" data-bind="fadeVisible: isAddressFormVisible">
    <!-- ko foreach: getRegion('before-fields') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <form data-hasrequired="* Required Fields">
        <fieldset id="billing-new-address-form" class="fieldset address">
            <div class="billing-popup-wrap">
                <!-- ko foreach: getRegion('additional-fieldsets') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
                <!-- ko if: (isCustomerLoggedIn && customerHasAddresses) -->
                <div id="billingtwzipcode" class="required">
                    <div class="billingcity-wrap field _required">
                        <label class="label" data-bind="i18n: '城市'"></label>
                        <div class="wrap-select">
                            <div data-role="county"
                                 data-name="billingcitynew"
                                 data-style="樣式名稱"
                                 data-required="true">
                            </div>
                        </div>
                        <div class="mage-error-billing-city"><!-- ko text: $t('這是必填欄位。') --><!-- /ko --></div>
                    </div>
                    <div class="billingarea-wrap field _required">
                        <label class="label" data-bind="i18n: '地區'"></label>
                        <div class="wrap-select">
                            <div data-role="district"
                                 data-name="billingregionnew"
                                 data-style="district-style"
                                 data-required="true">
                            </div>
                        </div>
                        <div class="mage-error-billing-region"><!-- ko text: $t('這是必填欄位。') --><!-- /ko --></div>
                    </div>
                    <div class="billingpostcode-wrap field _required">
                        <label class="label" data-bind="i18n: '郵遞區號'"></label>
                        <div data-role="zipcode"
                             data-name="billingpostcodenew"
                             data-style="zipcode-style"
                             data-required="true">
                        </div>
                        <div class="mage-error-billing-postcode"><!-- ko text: $t('這是必填欄位。') --><!-- /ko --></div>
                    </div>
                </div>
                <div class="choice field">
                    <input type="checkbox" class="checkbox" id="billing-save-in-address-book" data-bind="checked: saveInAddressBook" />
                    <label class="label" for="billing-save-in-address-book">
                        <span data-bind="i18n: 'Save in address book'"></span>
                    </label>
                </div>
                <!-- /ko -->
            </div>
        </fieldset>
    </form>
</div>
